 /*登录注册*/
 
 .header_logo {
     width: 100%;
     height: 1rem;
     color: #fff;
     text-align: center;
     font-size: .34rem;
     line-height: 1rem;
     margin-top: 1rem;
 }
 
 .login_item {
     display: flex;
     box-sizing: border-box;
     padding-left: .24rem;
     width: 100%;
     height: 1.1rem;
     border-bottom: .02rem solid #F2F3F7;
     background-color: #fff;
     flex-direction: row;
     align-items: center;
     justify-content: flex-start
 }
 
 .login_item .code {
     display: flex;
     width: 2rem;
     height: .6rem;
     border-radius: .3rem;
     background-color: #ddd;
     align-items: center;
     margin-right: .24rem;
     color: #fff;
     justify-content: center;
     font-size: 0.25rem;
 }
 
 .login_text {
     width: 1rem;
     color: #414141;
     font-size: .3rem
 }
 
 .login_input {
     margin-left: .16rem;
     width: 3rem;
     height: 1rem;
     border: 0;
     font-size: 0.3rem;
 }
 
 .login_button {
     display: flex;
     margin-left: .24rem;
     width: 7.02rem;
     height: .8rem;
     border-radius: .49rem;
     align-items: center;
     justify-content: center;
     margin-top: 0.78rem;
     background-color: #2d7eed;
 }
 
 .login_button a {
     color: #fff;
     font-size: .3rem;
 }
 
 .register_text {
     color: #888;
     font-size: 0.3rem;
 }
 
 .auth_div {
     display: -webkit-flex;
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: space-between;
     flex: 1
 }
 
 .login_tab {
     display: -webkit-flex;
     display: flex;
     margin-bottom: .5rem;
     height: 1.1rem;
     border-bottom: .02rem solid #F2F3F7;
     flex-direction: row
 }
 
 .register_div {
     display: -webkit-flex;
     display: flex;
     width: 100%;
     height: 2rem;
     align-items: center;
     justify-content: center
 }
 
 .login_tab li {
     position: relative;
     display: -webkit-flex;
     display: flex;
     width: 50%;
     height: 1.1rem;
     font-size: .3rem;
     align-items: center;
     justify-content: center
 }
 
 .login_tab li.cur {
     color: #2d7eed;
 }
 
 .login_tab li.cur:after {
     content: "";
     position: absolute;
     display: block;
     width: 50%;
     bottom: 0;
     left: 25%;
     border-bottom: 0.04rem solid #2d7eed;
 }
 
 .login_show li {
     display: none;
 }
 
 .login_show .cur {
     display: block;
 }
 
 .register_action a {
     color: #fff;
 }